<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>
<body>
    <H1>Los Datos de la madre son:</H1>
    <br>
    <H2>El nombre es: {{ madre.nombre }} </H2>
    <br>
    <H2>El apellido es: {{ madre.apellido }} </H2>
    <br>
    <H2>La fecha de nacimiento es: {{ madre.nacimiento }} </H2>
    <br>
    <H2>El lugar de origen es: {{ madre.lugar_origen }} </H2>
    
</body>
</html>