<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>
<body>
<H1>Los Datos del padre son:</H1>
<br>
<H2>El nombre es: {{ padre.nombre }} </H2>
<br>
<H2>El apellido es: {{ padre.apellido }} </H2>
<br>
<H2>La fecha de nacimiento es: {{ padre.nacimiento }} </H2>
<br>
<H2>El lugar de origen es: {{ padre.lugar_origen }} </H2>
</body>
</html>